<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a routerLink="/app/dashboard" class="logo d-flex align-items-center">
        <img src="../../../../assets/logo/logo.jpg" alt="">
        <span class="d-none d-lg-block">Mera Haq</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSiderbar()"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <i class="zmdi zmdi-power" (click)="logout()"></i>
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->