<div id="auth">
    <div class="video-container">
        <video autoplay loop muted id="myVideo">
            <source type="video/mp4" src="../../../../assets/video//bg_home.mp4" />
        </video>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-2">
                            <img src="../../../../assets/logo/logo.jpg" height="60" class="mb-4" />
                            <h3>Sign In</h3>
                            <p>Please sign in to continue to Mera Haq.</p>
                        </div>
                        <form [formGroup]="loginForm"  (ngSubmit)="login()" >
                            <div class="form-group position-relative has-icon-left">
                                <label for="mobileNumber">Mobile No:</label>
                                <div class="position-relative">
                                    <input type="text" class="form-control" formControlName="mobileNumber"
                                        id="mobileNumber" />
                                    <div class="form-control-icon">
                                        <i class="zmdi zmdi-account-o"></i>
                                    </div>
                                    <span class="text-danger" *ngIf="
                                    loginFormControls['mobileNumber'].hasError('required') &&
                                    (loginFormControls['mobileNumber'].dirty ||
                                    loginFormControls['mobileNumber'].touched)
                                      ">This field is required</span>
                                    <span *ngIf="loginFormControls['mobileNumber'].errors?.pattern">
                                        Mobile Number should be 10 digit.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group position-relative has-icon-left" *ngIf="showPassword">
                                <div class="clearfix">
                                    <label for="password">OTP</label>
                                </div>
                                <div class="position-relative">
                                    <input type="text" class="form-control" formControlName="otp" id="otp" />
                                    <div class="form-control-icon">
                                        <i class="zmdi zmdi-lock-outline"></i>
                                    </div>
                                    <span class="text-danger" *ngIf="
                                        loginFormControls['otp'].hasError('required') &&
                                        (loginFormControls['otp'].dirty ||
                                        loginFormControls['otp'].touched)">This field is required</span>
                                </div>
                            </div>

                            <div class="form-check clearfix my-4">
                                <div class="checkbox float-start">
                                    <input type="checkbox" id="checkbox1" class="form-check-input" />
                                    <label for="checkbox1">Remember me</label>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-primary float-end">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>