.sidebar-item a:hover{
    text-decoration: none;
}
.sub-menu li{
    margin-top: 0px;
}
.sub-menu li a span{
    margin-left: 0;
}
.sub-menu li a{
    padding: 0.5rem 1.5rem;
}
.sidebar-wrapper{
    height: 100vh;
    overflow-y: scroll;
}