<div class="sidebar-wrapper active">
    <div class="sidebar-header text-center">
        <img src="../../../../assets/images/admin.png" alt="" srcset="">
    </div>
    <div class="sidebar-menu">
        <ul class="menu">
            <li class='pt-0 sidebar-title text-center'>Admin</li>
            <li class="sidebar-item">
                <a href="javascript:void(0)" routerLink="/app/category/list" class='sidebar-link'>
                    <i data-feather="home" width="20"></i>
                    <span>Category</span>
                </a>
            </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
</div>