<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h5 class="card-title">Create Content</h5>
                </div>
                <div class="col-lg-6 col-12 text-right mt-2">
                    <button type="submit" class="btn btn-outline-primary" routerLink="/app/content/list">Back</button>
                </div>
            </div>

            <!-- General Form Elements -->
            <form [formGroup]="createForm">
              <div class="row mb-3">
                <div class="col-lg-4 col-12">
                  <label for="inputNumber" class="col-form-label">Category</label>
                  <div class="">
                      <select class="form-control" formControlName="CATEGORY" (change)="onCategoryChange($event.target.value)">
                          <option value="">Select Category *</option>
                          <option *ngFor="let item of categoryArr" [value]="item?.C_ID">{{item?.NAME}}</option>
                      </select>
                      <div class="help-info" *ngIf= "CATEGORY.touched && CATEGORY.invalid">
                        <span class="error" *ngIf="CATEGORY.errors.required">please select category</span>
                      </div>
                  </div>
                </div>
                <div class="col-lg-4 col-12">
                    <label for="inputText" class="col-form-label">Name *</label>
                    <div class="">
                        <input type="text" class="form-control" formControlName="NAME">
                        <div class="help-info" *ngIf= "NAME.touched && NAME.invalid">
                          <span class="error" *ngIf="NAME.errors.required">please enter name</span>
                       </div>
                    </div>
                </div>
                <div *ngIf="selectedCategory?.TYPE == 'states'" class="col-lg-4 col-12">
                  <label for="inputNumber" class="col-form-label">State</label>
                  <div class="">
                      <select class="form-control" formControlName="STATE">
                          <option value="">Select State *</option>
                          <option *ngFor="let item of stateArr" [value]="item?.state">{{item?.state}}</option>
                      </select>
                  </div>
                </div>
                <div *ngIf="selectedCategory?.TYPE == 'exams'" class="col-lg-4 col-12">
                  <label for="inputNumber" class="col-form-label">Exams</label>
                  <div class="">
                      <select class="form-control" formControlName="STATE">
                          <option value="">Select Exam *</option>
                          <option *ngFor="let item of examsArr" [value]="item?.NAME">{{item?.NAME}}</option>
                      </select>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-lg-6 col-12 featured-div">
                  <label for="inputNumber" class="col-form-label" form="flexSwitchCheckDefault">Featured</label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" name="IS_FEATURED" formControlName="IS_FEATURED" type="checkbox" id="flexSwitchCheckDefault">
                  </div>
                </div>
                <div class="col-lg-4 col-8">
                  <label for="inputText" class="col-form-label">Banner Image</label>
                  <div class="">
                    <input class="form-control" (change)="onFilePicked($event, 'banner')" type="file" id="formFileBanner" accept="image/png, image/gif, image/jpeg">
                  </div>
                </div>
                <div class="col-lg-2 col-4 flex-end-row">
                  <img *ngIf="createForm?.value?.BANNER_IMG" [src]="createForm?.value?.BANNER_IMG" width="70" height="50">
                  <img *ngIf="!createForm?.value?.BANNER_IMG" src="../../../../../assets/logo/logo.jpg" width="70" height="50">
                </div>
              </div>

              <div *ngIf="tabsArr?.length > 0" class="row mb-3">
                <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                  <ng-container *ngFor="let tab of tabsArr">
                    <li class="nav-item" role="presentation" (click)="selectedTab = tab">
                      <button class="nav-link text-capitalize" [ngClass]="{'active' : selectedTab == tab}" id="desc-tab" data-bs-toggle="tab" data-bs-target="#bordered-desc" type="button" role="tab" aria-controls="home" aria-selected="true">{{tab}}</button>
                    </li>
                  </ng-container>
                </ul>
                <div class="tab-content pt-3" id="borderedTabContent">
                    <div *ngIf="selectedTab == 'description'" class="tab-pane fade" [ngClass]="{'show active' : selectedTab == 'description'}" id="bordered-desc" role="tabpanel" aria-labelledby="desc-tab">
                      <div class="row">
                        <div class="col-lg-12 col-12">
                          <div class="">
                              <angular-editor id="editor2" [config]="editorConfig" formControlName="DESCRIPTION"></angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="selectedTab == 'process'" class="tab-pane fade"  [ngClass]="{'show active' : selectedTab == 'process'}"id="bordered-desc" role="tabpanel" aria-labelledby="desc-tab">
                      <div class="row">
                        <div class="col-lg-12 col-12">
                          <div class="">
                              <angular-editor id="editor2" [config]="editorConfig" formControlName="PROCESS"></angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="selectedTab == 'document'" class="tab-pane fade" [ngClass]="{'show active' : selectedTab == 'document'}" id="bordered-desc" role="tabpanel" aria-labelledby="desc-tab">
                      <div class="row">
                        <div class="col-lg-12 col-12">
                          <div class="">
                              <angular-editor id="editor2" [config]="editorConfig" formControlName="DOCUMENTS"></angular-editor>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="selectedTab == 'attachment'" class="tab-pane fade" [ngClass]="{'show active' : selectedTab == 'attachment'}" id="bordered-profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row mt-3">
                          <table class="table">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Image</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <ng-container formArrayName="ATTACHMENTS" *ngFor="let item of ATTACHMENTS.controls; let i=index">
                                <tr [formGroupName]="i">
                                  <td>{{i + 1}}.</td>
                                  <td>
                                    <ng-container *ngIf="item?.value.IS_SUBMIT">{{item?.value.NAME}}</ng-container>
                                    <input *ngIf="!item?.value.IS_SUBMIT" type="text" class="form-control" placeholder="Enter name" formControlName="NAME">
                                  </td>
                                  <td>
                                    <ng-container *ngIf="item?.value.IS_SUBMIT">{{item?.value.TYPE}}</ng-container>
                                    <select *ngIf="!item?.value.IS_SUBMIT" class="form-control" formControlName="TYPE">
                                      <option value="">Select Type</option>
                                      <option value="pdf">PDF</option>
                                      <option value="image">Image</option>
                                    </select>
                                  </td>
                                  <td>
                                    <img *ngIf="item?.value.IS_SUBMIT && item?.value.TYPE == 'image'" [src]="item?.value.URL" height="60">
                                    <a *ngIf="item?.value.IS_SUBMIT && item?.value.TYPE == 'pdf'" [href]="item?.value.URL" target="_blank">
                                      <i class="bi bi-file-earmark-arrow-down"></i>
                                    </a>
                                    <input *ngIf="!item?.value.IS_SUBMIT && (item?.value.TYPE == 'image' || !item?.value.TYPE)" class="form-control" (change)="onFilePicked($event, i)" type="file" id="formFile" accept="image/png, image/gif, image/jpeg">
                                    <input *ngIf="!item?.value.IS_SUBMIT && item?.value.TYPE == 'pdf'" class="form-control" (change)="onFilePicked($event, i)" type="file" id="formFile" accept="application/pdf">
                                  </td>
                                  <td>
                                    <i *ngIf="item?.value.IS_SUBMIT" (click)="removeAttachment(i)" class="zmdi zmdi-delete"></i>
                                  </td>
                                </tr>
                              </ng-container>
                            </tbody>
                          </table>
                        </div>

                        <div class="row mt-3">
                          <div class="col-lg-12 text-left">
                            <button class="btn btn-dark btn-upload" [disabled]="!ATTACHMENTS.valid" type="button" (click)="submitAttachment()">+ Add</button>
                          </div>
                        </div>
                    </div>
                    <div *ngIf="selectedTab == 'youtube'" class="tab-pane fade" [ngClass]="{'show active' : selectedTab == 'youtube'}" id="bordered-contact" role="tabpanel" aria-labelledby="contact-tab">
                      <div class="row mt-3">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Name</th>
                              <th>Youtube Link</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <ng-container formArrayName="YOUTUBE_LINKS" *ngFor="let item of YOUTUBE_LINKS.controls; let i=index">
                              <tr [formGroupName]="i">
                                <td>{{i + 1}}.</td>
                                <td>
                                  <ng-container *ngIf="item?.value.IS_SUBMIT">{{item?.value.NAME}}</ng-container>
                                  <input *ngIf="!item?.value.IS_SUBMIT" type="text" class="form-control" placeholder="Enter name" formControlName="NAME">
                                </td>
                                <td>
                                  <iframe *ngIf="item?.value.IS_SUBMIT" width="90" height="60" [src]="('https://www.youtube.com/embed/' + item.value.URL) | safe : 'resourceUrl'"></iframe>
                                  <input *ngIf="!item?.value.IS_SUBMIT" type="text" class="form-control" formControlName="URL" placeholder="Enter youtube video ID (3kySIdRBdEM)">
                                </td>
                                <td>
                                  <i *ngIf="item?.value.IS_SUBMIT" (click)="removeYoutube(i)" class="zmdi zmdi-delete"></i>
                                </td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>

                      <div class="row mt-3">
                        <div class="col-lg-12 text-left">
                          <button class="btn btn-dark btn-upload" [disabled]="!YOUTUBE_LINKS.valid" type="button" (click)="submitYoutubeLinks()">+ Add</button>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-12 text-center">
                  <button *ngIf="!CN_ID && !isApiLoading" type="button" class="btn btn-primary" (click)="submit()">Submit</button>
                  <button *ngIf="CN_ID && !isApiLoading" type="button" class="btn btn-primary" (click)="update()">Update</button>
                  <button *ngIf="isApiLoading" type="button" class="btn btn-primary">
                    <i class="zmdi zmdi-spinner fa-spin"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary ms-2">Reset</button>
                </div>
              </div>

            </form><!-- End General Form Elements -->

          </div>
        </div>

      </div>
    </div>
</section>
