.flex-row{
    display: flex;
    column-gap: 10px;
}

.flex-img-row{
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    margin-top: 10px;
    flex-wrap: inherit;
    .img-wrapper{
        width: 100%;
        position: relative;
        img{
            width: inherit;
        }
        i{
            position: absolute;
            right: -15px;
            top: 0;
            font-size: 20px;
            font-weight: bold;
        }
    }
}