<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h5 class="card-title">View Details</h5>
                </div>
                <div class="col-lg-6 col-12 text-right mt-2">
                    <button type="submit" class="btn btn-outline-primary" routerLink="/app/users/list">Back</button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-lg-4 col-12 form-flex-row">
                  <label class="col-form-label">Name :</label>
                  <label class="col-form-label">{{userInfo?.NAME}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Mobile : </label>
                    <label class="col-form-label">{{userInfo?.MOBILE}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Email : </label>
                    <label class="col-form-label">{{userInfo?.EMAIL}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Gender : </label>
                    <label class="col-form-label">{{userInfo?.GENDER}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Age : </label>
                    <label class="col-form-label">{{userInfo?.AGE}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">City : </label>
                    <label class="col-form-label">{{userInfo?.CITY}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">State : </label>
                    <label class="col-form-label">{{userInfo?.STATE}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Country : </label>
                    <label class="col-form-label">{{userInfo?.COUNTRY}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">PINCODE : </label>
                    <label class="col-form-label">{{userInfo?.PINCODE}}</label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Paid : </label>
                    <button *ngIf="userInfo?.IS_PAID == '1'" class="badge btn btn-success height-fit-content">Paid</button>
                    <button *ngIf="userInfo?.IS_PAID == '0'" class="badge btn btn-danger height-fit-content">Unpaid</button>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Status : </label>
                    <button *ngIf="userInfo?.IS_ACTIVE == '1'" class="badge btn btn-success height-fit-content">Active</button>
                    <button *ngIf="userInfo?.IS_ACTIVE == '0'" class="badge btn btn-danger height-fit-content">Inactive</button>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Ref. By. : </label>
                    <label class="col-form-label">
                        {{userInfo?.REF_USER_NAME}} 
                        <ng-container *ngIf="userInfo?.REF_USER_MOBILE">({{userInfo?.REF_USER_MOBILE}})</ng-container>
                    </label>
                </div>
                <div class="col-lg-4 col-12 form-flex-row">
                    <label class="col-form-label">Address : </label>
                    <label class="col-form-label">{{userInfo?.ADDRESS}}</label>
                </div>
            </div>

            <div class="border-top mb-3 pt-2 row">
                <div class="col-12">
                    <h5 class="bold">Advance Details</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Aadhar Card</th>
                                <th>Marital Status</th>
                                <th>Profession</th>
                                <th>Apply For Loan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{userInfo?.AADHAR_CARD_NO ? userInfo?.AADHAR_CARD_NO : '-'}}</td>
                                <td>{{userInfo?.MARITAL_STATUS ? userInfo?.MARITAL_STATUS : '-'}}</td>
                                <td>{{userInfo?.PROFESSION ? userInfo?.PROFESSION : '-'}}</td>
                                <td>{{userInfo?.APPLY_FOR_LOAN ? userInfo?.APPLY_FOR_LOAN : '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="border-top mb-3 pt-2 row">
                <div class="col-12">
                    <h5 class="bold">Bank Details</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>UPI Name</th>
                                <th>UPI ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{userInfo?.UPI_TYPE ? userInfo?.UPI_TYPE : '-'}}</td>
                                <td>{{userInfo?.UPI_ID ? userInfo?.UPI_ID : '-'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="border-top mb-3 pt-2 row">
                <div class="col-12">
                    <h5 class="bold">Referral Details</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Referral Code</th>
                                <th>Total Referred</th>
                                <th>Total Amount</th>
                                <th>Paid Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{refInfo?.REF_CODE}}</td>
                                <td>{{refInfo?.TOTAL_REF_USERS}}</td>
                                <td>{{refInfo?.WALLET_INFO?.TOTAL_WALLET_AMOUNT | currency : 'INR'}}</td>
                                <td>{{refInfo?.WALLET_INFO?.PAID_WALLET_AMOUNT | currency : 'INR'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="">
                <div class="col-12 text-center">
                    <button *ngIf="!isSubmitLoading && userInfo?.IS_PAID == 0" class="btn btn-primary" (click)="updateUserStatus(userInfo?.UID, '1')">Mark As Paid</button>
                    <button *ngIf="!isSubmitLoading && userInfo?.IS_PAID == 1" class="btn btn-primary" (click)="updateUserStatus(userInfo?.UID, '0')">Mark As Unpaid</button>
                    <button *ngIf="isSubmitLoading" class="btn btn-primary">
                        <i class="zmdi zmdi-spinner fa-spin"></i>
                    </button>
                </div>
            </div>

          </div>
        </div>

      </div>
    </div>
</section>
