<section class="section">
    <div class="row">
      <div class="col-lg-6 col-12 text-left mb-3">
        <h4 class="mb-0">States List</h4>
      </div>
      <div class="col-lg-6 col-12 text-right mb-3">
        <button class="btn btn-primary" routerLink="/app/states/create">Create</button>
      </div>
      <div class="col-lg-12">
        <ngx-datatable
            #table
            class="material poke-table"
            [rows]="dataArr"
            [loadingIndicator]="isDataLoading"
            [columnMode]="'force'"
            headerHeight="auto"
            [footerHeight]="50"
            rowHeight="auto"
            [limit]="10">


            <ngx-datatable-column prop="state" [sortable]="true" [width]="100">
                <ng-template ngx-datatable-header-template>Name</ng-template>
                <ng-template class="d-flext" let-row="row" ngx-datatable-cell-template>
                    {{row?.state}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="image" [sortable]="false" [width]="30">
                <ng-template ngx-datatable-header-template>Image</ng-template>
                <ng-template class="d-flext" let-row="row" ngx-datatable-cell-template>
                    <div *ngIf="row?.image" class="img-container">
                      <img [src]="row?.image" [style.background]="row?.COLOR" height="40">
                    </div>
                    <ng-container *ngIf="!row?.image">NA</ng-container>
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column prop="DESCRIPTION" [sortable]="false" [width]="30">
              <ng-template ngx-datatable-header-template>Action</ng-template>
              <ng-template class="d-flext" let-row="row" ngx-datatable-cell-template>
                  <i class="zmdi zmdi-edit" (click)="routeToCreate(row)"></i>
              </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
</section>
