<main>
    <video class="video-player" playsinline autoplay muted loop>
        <source src="../../../assets/video/bg_home.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3 py-4">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <div class="text-center">
                        <img src="../../../assets/logo/logo.jpg" height="60" alt="">
                        <h4 class="card-title d-none d-lg-block pt-2 mb-0">Mera Haq</h4>
                    </div>
                    <h5 class="text-center pb-0 fs-4 mb-0">Login to Your Account</h5>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>

                    <div class="col-12">
                      <label for="mobile" class="form-label">Mobile</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">+91</span>
                        <input type="text" name="mobile" [(ngModel)]="mobile" class="form-control" id="mobile" required>
                        <div class="invalid-feedback">Please enter your mobile.</div>
                      </div>
                    </div>

                    <div *ngIf="msg_id" class="col-12">
                      <label for="yourPassword" class="form-label otp-label">
                        <span>OTP</span>
                        <span class="otp-resend" [ngClass]="{'opacity-50' : counter > 0}">Resend OTP <span *ngIf="counter > 0">in {{counter}} Sec</span></span>
                      </label>
                      <input type="password" name="password" [(ngModel)]="otp_msg" class="form-control" id="yourPassword" required>
                      <div class="invalid-feedback">Please enter your otp!</div>
                    </div>

                    <div class="col-12">
                      <button *ngIf="!msg_id && !isApiLoading" class="btn btn-primary w-100" type="button" (click)="sendOtp()">Send OTP</button>
                      <button *ngIf="msg_id && !isApiLoading" class="btn btn-primary w-100" type="button" (click)="verifyOtp()">Verify OTP</button>
                      <button *ngIf="isApiLoading" class="btn btn-primary w-100" type="button">
                        <i class="zmdi zmdi-spinner fa-spin"></i>
                      </button>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">Techymojo Technologies</a>
              </div>

            </div>
          </div>
        </div>

      </section>
      <div id="recaptcha-container"></div>
    </div>
</main><!-- End #main -->